<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Garfield | Login</title>
    <link rel="stylesheet" href="login_style.css">
  </head>
  <body>

    <div class="login">
      <div class="login-screen">
        <div class="app-title">
          <img class="img" src="pictures/byzance_logo_full.png" alt="Byzance Logo">
        </div>
      </div>
    </div>
    <div class="login-form">
      <form id="login">
        <div class="control-group">
          <input type="text" class="login-field" value="" placeholder="username" id="mail" name="mail">
          <label class="login-field-icon fui-user" for="mail"></label>
        </div>

        <div class="control-group">
          <input type="password" class="login-field" value="" placeholder="password" id="password"  name="password">
          <label class="login-field-icon fui-lock" for="password"></label>
        </div>

        <input class="btn btn-primary btn-large btn-block" type="submit" value="Log in">

      </form>
    </div>
  </body>

  <script>
    // You can also require other files to run in this process
    require('../dist/renderers/login.js')
  </script>
</html>
