<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Garfield | Login</title>
  </head>
  <body>
    <h1>Welcome to Garfield App</h1>
    <!-- All of the Node.js APIs are available in this renderer process. -->
    <p>
      Please login with your Byzance account.
    </p>
    <form id="login">
      <input id="mail" type="text" name="mail">
      <input id="password" type="text" name="password">
      <input type="submit" value="Log in">
    </form>
  </body>

  <script>
    // You can also require other files to run in this process
    require('../renderer.js')
  </script>
</html>
