<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Garfield | Terminal</title>
  </head>
  <body>
    <p>
      Terminal for serial communication with TestKit.
    </p>
    <form id="terminal">
      <input title="Terminal input" id="terminal_input" type="text" name="terminal_input">
      <input type="submit" value="Send">
      <button id="clear">Clear</button>
    </form>
  <textarea title="Output" id="output" readonly rows="24" style="overflow: auto; width: 99%; margin-top: 10px;"></textarea>
  </body>

  <script>
    require('../dist/renderers/terminal.js')
  </script>
</html>
